@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	display: grid;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
	position: relative;
}

body > main {
	width: 90vw; /* this matches with navbar container */
	margin-top: 1rem;
	margin-bottom: 15rem;
	min-height: 100vh;
}
